section {
    background-color: #ffffff;

}

section div div div div div {
    border-radius: 15px;
}

#img1 {
    width: 180px;
    border-radius: 10px;
}
#index{
    background-color: #efefef;
}
#p1{
    color: #2b2a2a;
}